{% extends 'base.html' %}


{% block content %}

<div class="container text-center">
    <hr>
    <h1 class="mb-3">Lista de Quartos</h1>
    <hr>

    <div class="mb-2">
        <input type="radio" class="btn-check" name="options" id="option1" 
            value="PiresdoRio" autocomplete="off" 
            onclick="atualizarCidade(this.value)"
            {% if contex['cidade'] == 'PiresdoRio' %} checked {% endif %}>
        <label class="btn btn-secondary" for="option1">Pires do Rio</label>

        <input type="radio" class="btn-check" name="options" id="option2" 
            value="Goiandira" autocomplete="off" 
            onclick="atualizarCidade(this.value)"
            {% if contex['cidade'] == 'Goiandira' %} checked {% endif %}>
        <label class="btn btn-secondary" for="option2">Goiandira</label>
    </div>

    {% if not contex['quartos'] %}
        <div class="alert alert-warning" role="alert">
            Nenhum quarto cadastrado.
        </div>

    {% else %}
        {% for quarto in contex['quartos'] %}
            <div class="row justify-content-center">
                <div class="card mb-2" style="width:400px">
                    <!-- <img class="card-img-top" src="...Add a Link Here..." alt="Card image" style="width:100%"> -->
                    <div class="card-body">
                        <div class="card-header">{{ quarto.cidade }}</div>
                        <h4 class="card-title">Quarto N°: {{ quarto.numero_quarto }}</h4>
                        <p class="card-text">Ocupado por: <b>{{ quarto.hospede }}</b></p>

                        {% if quarto.status %}
                            <button class="btn btn-danger btn-sm mb-4" disabled>Ocupado</button>
                        {% else %}
                            <button class="btn btn-success btn-sm mb-4" disabled>Disponível</button>
                        {% endif %}


                        {% if current_user.is_authenticated %}
                            <div class="d-flex justify-content-end gap-2 border-top pt-3">
                                {% if quarto.status %}
                                    <a href="{{ url_for('cancelar_reserva', id=quarto.id) }}" class="btn btn-primary border">Cancelar Reserva</a>
                                {% else %}
                                    <a href="{{ url_for('reservar_quarto', id=quarto.id) }}" class="btn btn-primary border">Reservar Quarto</a>
                                {% endif %}
                                    <a href="{{ url_for('excluir_quarto', id=quarto.id) }}" class="btn btn-danger">Excluir</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        function atualizarCidade(valor) {
            // Redireciona para a mesma página adicionando o parâmetro ?cidade=
            window.location.href = window.location.pathname + "?cidade=" + valor;
        }
    </script>
</div>

{% endblock %}