{% extends 'base.html' %}

{% block content %}

    <div class="container text-center">
        <h1>Lista de Quartos</h1>

        {% for quarto in contex['quartos'] %}
            <div class="row justify-content-md-center p-2">
                <div class="col-md-auto">
                    <div class="card" style="width: 30rem;">
                        <div class="card-header">
                            <!-- Quarto: {{ quarto.numero_quarto }} -->
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Quarto {{ quarto.numero_quarto }}</h5>
                            
                            {% if quarto.status %}
                                <button type="button" class="btn btn-danger" disabled>Quarto Reservado</button>
                            {% else %}
                                <button type="button" class="btn btn-success" disabled>Quarto Vago</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}